includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID
